#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  background-image: linear-gradient(
    to bottom,
    #9945ff,
    #0097ff,
    #00c2ff,
    #00dede,
    #14f195
  );
}

h1 {
  color: #fff;
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
}

p {
  color: black;
}

table {
  color: #000;
  background-color: #f7f7f7;
  border-radius: 1.5rem;
  filter: drop-shadow(2px 5px 18px #0000002f);
}

th {
  border-bottom: 1px solid #d4d4d4;
  padding: 1rem;
  text-align: left;
}

td {
  font-size: 1.2em;
  padding: 0.5rem 1rem;
}

.header {
  display: block;
  margin: 0 auto;
}
