:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #9945ff,
    #0097ff,
    #00c2ff,
    #00dede,
    #14f195
  );

  color: black;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  color: #fff;
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
}

table {
  color: #000;
  background-color: #f7f7f7;
  border-radius: 1.5rem;
  filter: drop-shadow(2px 5px 18px #0000002f);
}

th {
  border-bottom: 1px solid #d4d4d4;
  padding: 1rem;
  text-align: left;
}

td {
  font-size: 1.2em;
  padding: 0.5rem 1rem;
}
